name: Release

on:
    push:
        branches:
            - master

permissions:
  contents: read

jobs:
  Release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: Install dependencies
      run: bun i
    
    - name: Build package
      run: bun run build

    - name: Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: bun run semantic-release